<div class="row">
  <div class="col-4 col-md-3 col-lg-2 mb-3 mb-md-0">
    <%= identicon_for user %>
  </div>
  <div class="col-auto mb-3">
    <h4 class="mb-1"><%= link_to user.name, user %></h4>
    <% if user.is_admin? %>
      <span class="badge bg-black">admin</span>
    <% end %>
    <span class="badge bg-secondary">activity
      <i class="bi bi-arrow-right"></i> <b><%= user.activity %></b></span>
    <span class="badge bg-info">contact
    <i class="bi bi-arrow-right"></i>
      <b><%= user.avg_contact %>/4</b></span>
    <span class="badge bg-danger">comply
    <i class="bi bi-arrow-right"></i>
      <b><%= user.avg_compliance %>/6</b></span>
    <% if user.deposit_deducted? %>
    <span class="badge bg-black">
      <i class="bi bi-lock me-1"></i> locked
    </span>
    <% end %>
  </div>
</div>
