<h1>Manage deposit</h1>

<p>
  <%= @user.name %> (<%= @user.email %>)
</p>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
</div>
