<% accepted_by = rental.accepted_by %>
<% submitter = rental.realizes.submitter %>

<h4 class="my-4 text-center">Current state</h4>
<div class="col-md-6 mx-auto mb-4 mt-1">
<%= render 'progress', rental: @rental %>
</div>

<div class="row">
  <div class="col mb-3">
    <div class="ms-auto mb-3 col-md-8 border-bottom border-1 pb-4">
      <%= render 'users/user_snippet_rev', user: submitter %>
    </div>
    <ul class="list-group ms-auto">
      <% if rental.swapped? %>
        <% rental.wanted_per_rentals.each do |query| %>
          <%= render 'shared/list_game_copy_rev', game_copy: query.game_copy %>
        <% end %>
      <% else %>
        <% rental.realizes.offered.each do |offered| %>
          <%= render 'shared/list_game_rev', game: offered %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col mb-3">
    <div class="mb-3 col-md-8 border-bottom border-1 pb-4">
      <%= render 'users/user_snippet', user: accepted_by %>
    </div>
    <ul class="list-group">
      <% if rental.swapped? %>
        <% rental.offered_per_rentals.each do |query| %>
          <%= render 'shared/list_game_copy', game_copy: query.game_copy %>
        <% end %>
      <% else %>
        <% rental.realizes.wanted.each do |wanted| %>
          <%= render 'shared/list_game', game: wanted %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
</div>
