<h1>Your rentals</h1>
<p>The following list contains all active rentals.</p>

<div id="rental">
  <% if current_user.all_active_rentals.count == 0 %>
    <p class="text-center text-secondary">
      There is currently no requests available. Submit your own!
      <i class="bi bi-balloon"></i>
    </p>
  <% end %>
  <ul class="list-group">
    <% current_user.all_active_rentals.each do |rental| %>
      <li class="list-group-item">
        <div class="d-flex align-items-center">
          <div class="d-md-flex gap-4 align-items-center">
            <%= link_to "Rental \##{rental.id}", rental, class: "text-nowrap" %>
            <small class="ms-1 text-muted">
              <%= l rental.realizes.rental_start %> -
              <%= l rental.realizes.rental_end %>
            </small>
            <%= render 'shared/games_func', rental_request: rental.realizes %>
          </div>
          <div class="ms-auto">
            <%= render 'rental_mgr_buttons', rental: rental %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <h5 class="mt-3">Archival rentals</h5>
  <ul class="list-group">
    <% current_user.all_archival_rentals.each do |rental| %>
      <li class="list-group-item">
        <div class="d-flex align-items-center">
          <div class="d-flex gap-4 align-items-center">
            <%= link_to "Rental \##{rental.id}", rental, class: "text-nowrap" %>
            <small class="ms-1 text-muted">
              <%= l rental.realizes.rental_start %> -
              <%= l rental.realizes.rental_end %>
            </small>
            <%= render 'shared/games_func', rental_request: rental.realizes %>
          </div>
          <div class="ms-auto">
            <%= render 'rental_mgr_buttons', rental: rental %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
