<% accepted_by = @rental.accepted_by %>
<% submitter = @rental.realizes.submitter %>

<div>
  <h2>Rental between <%= submitter.name %> and <%= accepted_by.name %>
    <span class="text-secondary">
      (#<%= @rental.id %>)
    </span>
  </h2>

  <div class="card">
    <div class="card-body d-md-flex">
      <div class="border-start border-5 ps-2 <%= @rental.status_color %>">
        <%= render 'rental_stats', rental: @rental %>
      </div>
      <div class="ms-auto mt-2 mt-md-0">
        <%= render 'rental_mgr_buttons', rental: @rental %>
      </div>
    </div>
  </div>

  <%= render 'current_state', rental: @rental %>
</div>
