<div id="<%= dom_id game %>" class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@game.image_url, class: "img-thumbnail shadow") %>
    </div>
    <div class="col-md">
      <h2 class="mt-3 mt-md-0"><%= @game.title %></h2>
      <span class="badge bg-secondary">BGG:
        <%= @game.bgg_rating %>/10 (<%= @game.bgg_ranking %>)
        </span>
      <span class="badge bg-success">Weight:
        <%= @game.bgg_weight %>/5</span>
      <span class="badge bg-dark">N-rating: <%= @game.get_n_rating %>/10 (<%= @game.n_rank %>)</span>

      <div class="d-md-flex my-3 d-grid gap-1">
        <%= render 'games/game_mgr_buttons', game: @game %>
        <%= link_to "Show on BGG", "https://boardgamegeek.com/boardgame/#{@game.bgg_id}", type: 'button', class: "btn btn-outline-primary" %>
      </div>

      <div class="card p-2 shadow-sm">
        <ul class="nav nav-pills rounded gap-2" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Details</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Description</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
              Copies
              <span class="badge text-bg-secondary ms-1"><%= @game.available_copies.count %>
                /<%= @game.game_copies.count %></span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review-tab-pane"
                    type="button" role="tab" aria-controls="review-tab-pane" aria-selected="false">Reviews</button>
          </li>
        </ul>
        <div class="card-body tab-content mt-2" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <%= render 'games/game_stats', game: @game %>
          </div>
          <div class="tab-pane fade" id="description-tab-pane" role="tabpanel" aria-labelledby="description-tab" tabindex="0">
            <p><%= @game.description %></p>
          </div>
          <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <%= render 'games/game_copies_list', game: @game %>
          </div>
          <div class="tab-pane fade" id="review-tab-pane" role="tabpanel" aria-labelledby="review-tab" tabindex="0">
            <%= render 'games/game_opinions', about: @game %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
