<div class="d-md-flex gap-2 align-items-start">
  <h1>Games</h1>
  <div class="d-md-flex gap-2 align-items-start ms-auto">
    <%= will_paginate @games, renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
                      inner_window: 1, outer_window: 0 %>

    <% if params[:copies] == "true" %>
      <%= link_to "Show all", games_path, class: "btn btn-outline-primary" %>
    <% else %>
      <%= link_to "Show games with copies only", games_path(copies: true), class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>


<% unless params[:q].nil? || params[:q]["title_cont"].nil? %>
  <p class="text-secondary">
    Looked for titles containing "<%= params[:q]["title_cont"] %>":
  </p>
<% end %>

<div id="games" class="mt-4">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :bgg_id, "#") %></th>
      <th scope="col"><%= sort_link(@q, :title) %></th>
      <th scope="col"><%= sort_link(@q, :bgg_rating, "Rating") %></th>
      <th scope="col"><%= sort_link(@q, :bgg_weight, "Weight") %></th>
      <th scope="col">N-rating</th>
      <th scope="col">Copies</th>
    </tr>
    </thead>
    <tbody>
    <% @games.each do |game| %>
      <tr>
        <th scope="row"><%= game.bgg_id %></th>
        <td>
          <%= image_tag(game.thumbnail_url, class: "img-thumbnail flex-shrink-0", height: 20, width: 70) %>
          <b class="ms-md-2"><%= link_to game.title, game %></b></td>
        <td><%= game.bgg_rating %>/10</td>
        <td><%= game.bgg_weight %>/5</td>
        <td>
          <% if game.opinions.count == 0 %>
            unranked
          <% else %>
            <%= game.n_rating %>/10 (<%= game.n_rank %>)
          <% end %></td>
        <td><%= game.available_copies.count %>/<%= game.game_copies.count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New game", new_game_path %>
