<div class="d-flex gap-2 align-items-center">
  <% hide = @rental_request.nil? %>
<% if rental_request.submitter?(current_user) %>
  <% if rental_request.editable? %>
    <% if rental_request.submitted? %>
      <%= button_to reopen_rental_request_path(rental_request),
                    class: "btn btn-outline-primary", method: :put do %>
        <i class="bi bi-arrow-down-circle"></i>
        <% unless hide %>
          <span class="ms-1">Re-open</span>
        <% end %>
      <% end %>
    <% else %>
      <% if rental_request.empty? %>
        <span class="text-secondary">(Add something to make request submittable)</span>
      <% else %>
        <%= button_to submit_rental_request_path(rental_request),
                      class: "btn btn-outline-primary", method: :put do %>
          <i class="bi bi-arrow-up-circle"></i>
          <% unless hide %>
            <span class="ms-1">Submit</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= button_to edit_rental_request_path(rental_request), method: :get, class: "btn btn-outline-primary" do %>
      <i class="bi bi-pencil"></i>
      <% unless hide %>
        <span class="ms-1">Edit details</span>
      <% end %>
    <% end %>
    <%= button_to rental_request, method: :delete, class: "btn btn-outline-danger", form: { data: { 'turbo-confirm': 'Are you sure?' } } do %>
      <i class="bi bi-trash"></i>
      <% unless hide %>
        <span class="ms-1">Discard</span>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% if rental_request.editable? %>
    <% if rental_request.submitter?(current_user) %>
      <span class="text-secondary">(Your own)</span>
    <% else %>
      <%= button_to "Accept", new_rental_path,
                    type: 'button',
                    class: "btn btn-outline-primary",
                    params: { rental_request_id: rental_request.id },
                    method: :get unless rental_request.submitter?(current_user) %>

    <% end %>
  <% end %>
  <%= link_to edit_rental_request_path(rental_request),
              type: 'button',
              class: "btn btn-outline-primary" do %>
    <i class="bi bi-pencil-square"></i>
  <% end if current_user.admin? %>
<% end %>
</div>
