<h1>Rental requests</h1>
<p>The following list contains all submitted rental requests. Here, X
  <i class="bi bi-arrow-right"></i> Y means that the request submitter
  is interested in giving all games from set X in return for all games from set Y for a specified time period.
</p>

<div id="rental_requests">
  <% if @rental_requests.count == 0 %>
    <p class="text-center text-secondary">
      There is currently no requests available. Submit your own!
      <i class="bi bi-balloon"></i>
    </p>
  <% end %>
  <ul class="list-group">
    <% @rental_requests.submitted.each do |rental_request| %>
      <li class="list-group-item">
        <div class="d-flex align-items-center">
          <div class="d-md-flex gap-4 align-items-center">
            <%= link_to "Request \##{rental_request.id}", rental_request, class: "text-nowrap" %>
            <small class="ms-1 text-muted">
              <%= l rental_request.rental_start %> -
              <%= l rental_request.rental_end %>
            </small>
            <%= render 'shared/games_func', rental_request: rental_request %>
          </div>
          <div class="ms-auto">
            <% if rental_request.is_submitter?(current_user) %>
              <span class="text-secondary">(Your own)</span>
            <% else %>
              <%= button_to "Accept", new_rental_path,
                            type: 'button',
                            class: "btn btn-outline-primary",
                            params: { rental_request_id: rental_request.id },
                            method: :get %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
