<%= render @rental_request %>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Request #<%= @rental_request.id %>
        <span class="text-secondary">
        (<%= @rental_request.status %>)
        </span>
      </h2>
      <% if @rental_request.submitter?(current_user) %>
        <p class="text-secondary">You are viewing your own request.
          <% if @rental_request.submitted? %>
            It is submitted and other users can accept it.
          <% else if @rental_request.open? %>
              In order to make it available to other users, make sure to submit it.
            <% end end %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row mt-2 align-items-center">
        <div class="col-md-8">
          <%= render 'users/user_snippet', user: @rental_request.submitter %>
        </div>
        <div class="ms-auto col-md-auto">
          <div class="d-flex gap-2 align-items-center">
            <%= render 'request_mgr_buttons', rental_request: @rental_request %>
          </div>
        </div>
      </div>
      <% if @rental_request.description != "" %>
        <div class="card mt-4">
          <div class="card-header">
            <i class="bi bi-file-text me-1"></i>
            Request description
          </div>
          <div class="card-body">
            <p class="mb-0">
              <%= @rental_request.description %>
            </p>
          </div>
        </div>
      <% end %>
      <%= render 'wanted_offered_lists', rental_request: @rental_request %>
    </div>
  </div>
</div>

