<!DOCTYPE html>
<html lang="en">
<head>
  <title>Neumann</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="d-flex flex-column min-vh-100">
<%= render 'layouts/navbar' %>

<main>
  <% flash.each do |type, msg| %>
    <!-- TODO extend based on types-->
    <div data-controller="flash"
         class="position-absolute top-0 start-50 translate-middle-x mt-2 shadow-sm alert alert-info d-flex align-items-center alert-dismissible fade show" role="alert">
      <i class="bi bi-info-circle flex-shrink-0 me-2"></i>
      <%= msg %>
      <button type="button" class="btn-close" data-action="flash#dismiss" data-bs-dismiss="alert"
              aria-label="Close"></button>
    </div>
  <% end %>
  <div class="col-lg-10 mx-auto p-4">

    <%= yield %>
  </div>
</main>

<%= render 'layouts/footer' %>
<%= turbo_frame_tag "modal" %>

</body>
</html>
